<section class="top-section find-team">
    <div class="top-section__img-wrap">
        <img src="{{ .Page.Params.findTeamImg | relURL }}">
    </div>
    <div class="top-section__title-wrap">
        <h1 class="h1 top-Section__title"><i class="icon-search"></i>{{ .Page.Params.findTeamTitle }}</h1>
        <p class="description">
            {{ .Page.Params.findTeamDescription }}
        </p>
        <div class="button-wrapper">
            <a href="" class="button primary">Find a team</a>
        </div>
    </div>
</section>