<section class="top-section find-team">
    <div class="top-section__img-wrap">
        <img src="{{ .Page.Params.findTeamImg | relURL }}">
    </div>
    <div class="top-section__title-wrap">
        <h2 class="h1 top-Section__title">{{ .Page.Params.findTeamTitle }}</h2>
        <p class="description">
            {{ .Page.Params.findTeamDescription | safeHTML }}
        </p>
        <div class="button-wrapper">
            <a href="https://tfp.staging.coteams.co/register-as-client" target="_blank" class="button primary">{{ .Page.Params.findTeamButton }}</a>
        </div>
    </div>
</section>