<section class="use-cases">
    <h2 class="h2">{{ .Page.Params.useCasesTitle }}</h2>
    <h4 class="h4">{{ .Page.Params.useCasesSubTitle }}</h4>
    <div class="use-cases__wrapper">
        <div class="use-cases__item">
            <img src="{{ .Page.Params.useCasesItemImg1 }}" alt="">
            <h3 class="h3">{{ .Page.Params.useCasesItemTitle1 }}</h3>
            <p class="description">{{ .Page.Params.useCasesItemDescription1 | safeHTML }}</p>
        </div>
        <div class="use-cases__item">
            <img src="{{ .Page.Params.useCasesItemImg2}}" alt="">
            <h3 class="h3">{{ .Page.Params.useCasesItemTitle2 }}</h3>
            <p class="description">{{ .Page.Params.useCasesItemDescription2 | safeHTML }}</p>
        </div>
        <div class="use-cases__item">
            <img src="{{ .Page.Params.useCasesItemImg3 }}" alt="">
            <h3 class="h3">{{ .Page.Params.useCasesItemTitle3 }}</h3>
            <p class="description">{{ .Page.Params.useCasesItemDescription3 | safeHTML }}</p>
        </div>
    </div>
    <div class="button-wrapper">
        <a href="https://tfp.staging.coteams.co/register-as-client" target="_blank" class="button primary">Get Started as a Client</a>
    </div>
</section>