<section class="why-coteams section-mt">
    <h2 class="h2">{{ .Page.Params.whyTeamsTitle }}</h2>
    <h4 class="h4">{{ .Page.Params.whyTeamsSubTitle }}</h4>
    <div class="slider-wrapper">
        <div class="why-coteams__item">
            <img src="{{ .Page.Params.whyCoteamsItemImg1 }}" alt="">
            <h3 class="h3">{{ .Page.Params.whyCoteamsItemTitle1 }}</h3>
            <p class="description">{{ .Page.Params.whyCoteamsItemDescription1 | safeHTML }}</p>
        </div>
        <div class="why-coteams__item">
            <img src="{{ .Page.Params.whyCoteamsItemImg2 }}" alt="">
            <h3 class="h3">{{ .Page.Params.whyCoteamsItemTitle2 }}</h3>
            <p class="description">{{ .Page.Params.whyCoteamsItemDescription2 | safeHTML }}</p>
        </div>
        <div class="why-coteams__item">
            <img src="{{ .Page.Params.whyCoteamsItemImg3 }}" alt="">
            <h3 class="h3">{{ .Page.Params.whyCoteamsItemTitle3 }}</h3>
            <p class="description">{{ .Page.Params.whyCoteamsItemDescription3 | safeHTML }}</p>
        </div>
        <div class="why-coteams__item">
            <img src="{{ .Page.Params.whyCoteamsItemImg4 }}" alt="">
            <h3 class="h3">{{ .Page.Params.whyCoteamsItemTitle4 }}</h3>
            <p class="description">{{ .Page.Params.whyCoteamsItemDescription4 | safeHTML }}</p>
        </div>
        <div class="why-coteams__item">
            <img src="{{ .Page.Params.whyCoteamsItemImg5 }}" alt="">
            <h3 class="h3">{{ .Page.Params.whyCoteamsItemTitle5 }}</h3>
            <p class="description">{{ .Page.Params.whyCoteamsItemDescription5 | safeHTML }}</p>
        </div>
    </div>
</section>