<section class="top-section find-team _talents">
    <div class="top-section__img-wrap">
        <img src="{{ .Page.Params.findTeamImg | relURL }}">
    </div>
    <div class="top-section__title-wrap">
        <h2 class="h1 top-Section__title">{{ .Page.Params.findTeamTitle }}</h2>
        <div class="find-team__wrapper">
            <h3 class="h3">{{ .Page.Params.findTeamSubTitle1 }}</h3>
            <p class="description">
                {{ .Page.Params.findTeamDescription1 | safeHTML }}
            </p>
            <div class="button-wrapper">
                <a href="https://tfp.staging.coteams.co/register-talent" class="button primary">{{ .Page.Params.findTeamButton1 }}</a>
            </div>
        </div>
    </div>
</section>