{{ define "main" }}
  <main aria-role="main" class="main">
    <section class="policy">
      <h1 class="h1">{{ .Page.Params.policyTitle }}</h1>
      <section class="policy-section">
        <p class="description">{{ .Page.Params.policyTopDescription | safeHTML }}</p>
      </section>
      <section class="policy-section">
        <div class="policy-section__definition-title">
          <h2 class="h2"><span class="policy-section__title-number">1</span>{{ .Page.Params.policyDefinitionTitle1 }}</h2>
          <p class="description">{{ .Page.Params.policyDefinitionDescription1 | safeHTML }}</p>
        </div>
        <div class="policy-section__definition-list">
          <div class="policy-section__definition-item">
            <h3 class="h3"><span class="policy-section__subtitle-number">1.1</span>{{ .Page.Params.policyDefinitionSubtitle1_1 }}</h3>
            <p class="description">{{ .Page.Params.policyDefinitionDescription1_1 | safeHTML }}</p>
          </div>
          <div class="policy-section__definition-item">
            <h3 class="h3"><span class="policy-section__subtitle-number">1.2</span>{{ .Page.Params.policyDefinitionSubtitle1_2 }}</h3>
            <p class="description">{{ .Page.Params.policyDefinitionDescription1_2 | safeHTML }}</p>
          </div>
          <div class="policy-section__definition-item">
            <h3 class="h3"><span class="policy-section__subtitle-number">1.3</span>{{ .Page.Params.policyDefinitionSubtitle1_3 }}</h3>
            <p class="description">{{ .Page.Params.policyDefinitionDescription1_3 | safeHTML }}</p>
          </div>
          <div class="policy-section__definition-item">
            <h3 class="h3"><span class="policy-section__subtitle-number">1.4</span>{{ .Page.Params.policyDefinitionSubtitle1_4 }}</h3>
            <p class="description">{{ .Page.Params.policyDefinitionDescription1_4 | safeHTML }}</p>
          </div>
          <div class="policy-section__definition-item">
            <h3 class="h3"><span class="policy-section__subtitle-number">1.5</span>{{ .Page.Params.policyDefinitionSubtitle1_5 }}</h3>
            <p class="description">{{ .Page.Params.policyDefinitionDescription1_5 | safeHTML }}</p>
          </div>
        </div>
      </section>
      <section class="policy-section">
        <div class="policy-section__definition-title">
          <h2 class="h2"><span class="policy-section__title-number">2</span>{{ .Page.Params.policyDefinitionTitle2 }}</h2>
          <p class="description">{{ .Page.Params.policyDefinitionDescription2 | safeHTML}}</p>
        </div>
      </section>
      <section class="policy-section">
        <div class="policy-section__definition-title">
          <h2 class="h2"><span class="policy-section__title-number">3</span>{{ .Page.Params.policyDefinitionTitle3 }}</h2>
          <p class="description">{{ .Page.Params.policyDefinitionDescription3 | safeHTML }}</p>
        </div>
      </section>
      <section class="policy-section">
        <div class="policy-section__definition-title">
          <h2 class="h2"><span class="policy-section__title-number">4</span>{{ .Page.Params.policyDefinitionTitle4 }}</h2>
          <div class="policy-section__definition-item">
            <h3 class="h3"><span class="policy-section__subtitle-number">4.1</span>{{ .Page.Params.policyDefinitionSubtitle4_1 }}</h3>
            <p class="description">{{ .Page.Params.policyDefinitionDescription4_1 | safeHTML }}</p>
            <ul class="list">
              <li>{{ .Page.Params.policyDefinitionLi4_1_1 }}</li>
              <li>{{ .Page.Params.policyDefinitionLi4_1_2 }}</li>
              <li>{{ .Page.Params.policyDefinitionLi4_1_3 }}</li>
              <li>{{ .Page.Params.policyDefinitionLi4_1_4 }}</li>
              <li>{{ .Page.Params.policyDefinitionLi4_1_5 }}</li>
              <li>{{ .Page.Params.policyDefinitionLi4_1_6 }}</li>
              <li>{{ .Page.Params.policyDefinitionLi4_1_7 }}</li>
            </ul>
          </div>
          <div class="policy-section__definition-item">
            <h3 class="h3"><span class="policy-section__subtitle-number">4.2</span>{{ .Page.Params.policyDefinitionTitle4_2 }}</h3>
            <p class="description">{{ .Page.Params.policyDefinitionDescription4_2 | safeHTML }}</p>
          </div>
        </div>
      </section>
    </section>
  </main>
{{ end }}