<section class="quick-start-wrapper">
    <div class="quick-start">
        <h2 class="h2">{{ .Page.Params.quickSectionTitle }}</h2>
        <div class="quick-start__wrapper">
            <div class="quick-start__item">
                <img src="{{ .Page.Params.quickSectionItemImg1 }}" alt="">
                <h3 class="h3">{{ .Page.Params.quickSectionItemTitle1 }}</h3>
                <p class="description">{{ .Page.Params.quickSectionItemDescription1 | safeHTML }}</p>
                <div class="button-wrapper">
                    <a href="https://tfp.staging.coteams.co/register-as-client" target="_blank" class="button primary">{{ .Page.Params.quickSectionItemButton1 }}</a>
                </div>
            </div>
            <div class="quick-start__item">
                <img src="{{ .Page.Params.quickSectionItemImg2 }}" alt="">
                <h3 class="h3">{{ .Page.Params.quickSectionItemTitle2 }}</h3>
                <p class="description">{{ .Page.Params.quickSectionItemDescription2 | safeHTML }}</p>
                <div class="button-wrapper">
                    <a href="https://tfp.staging.coteams.co/register-talent" target="_blank" class="button primary">{{ .Page.Params.quickSectionItemButton2 }}</a>
                </div>
            </div>
            <div class="quick-start__item">
                <img src="{{ .Page.Params.quickSectionItemImg3 }}" alt="">
                <h3 class="h3">{{ .Page.Params.quickSectionItemTitle3 }}</h3>
                <p class="description">{{ .Page.Params.quickSectionItemDescription3 | safeHTML }}</p>
                <div class="button-wrapper">
                    <a href="https://tfp.staging.coteams.co/register-talent" target="_blank" class="button primary">{{ .Page.Params.quickSectionItemButton3 }}</a>
                </div>
            </div>
        </div>
    </div>
</section>