<section class="talents-clients-section">
    <div class="talents-clients-section__item">
        <h2 class="h2">{{ .Page.Params.talentsTitle }}</h2>
        <h4 class="h4">{{ .Page.Params.talentsSubtitle }}</h4>
        <div class="talents-clients-section__list">
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <i class="icon-art"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.talentsItemTitle1 }}</h3>
                    <p class="description">{{ .Page.Params.talentsItemDescription1 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <i class="icon-code"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.talentsItemTitle2 }}</h3>
                    <p class="description">{{ .Page.Params.talentsItemDescription2 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <i class="icon-chart"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.talentsItemTitle3 }}</h3>
                    <p class="description">{{ .Page.Params.talentsItemDescription3 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <i class="icon-bug"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.talentsItemTitle4 }}</h3>
                    <p class="description">{{ .Page.Params.talentsItemDescription4 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <i class="icon-bug"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.talentsItemTitle5 }}</h3>
                    <p class="description">{{ .Page.Params.talentsItemDescription5 }}</p>
                </div>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button secondary">Learn more</a>
            </div>
        </div>
    </div>
    <div class="talents-clients-section__item">
        <h2 class="h2">{{ .Page.Params.clientsTitle }}</h2>
        <h4 class="h4">{{ .Page.Params.clientsSubtitle }}</h4>
        <div class="talents-clients-section__list">
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap _background-blue">
                    <i class="icon-chart"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.clientsItemTitle1 }}</h3>
                    <p class="description">{{ .Page.Params.clientsItemDescription1 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap _background-blue">
                    <i class="icon-bug"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.clientsItemTitle2 }}</h3>
                    <p class="description">{{ .Page.Params.clientsItemDescription2 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap _background-blue">
                    <i class="icon-art"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.clientsItemTitle3 }}</h3>
                    <p class="description">{{ .Page.Params.clientsItemDescription3 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap _background-blue">
                    <i class="icon-code"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.clientsItemTitle4 }}</h3>
                    <p class="description">{{ .Page.Params.clientsItemDescription4 }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap _background-blue">
                    <i class="icon-chart"></i>
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.clientsItemTitle5 }}</h3>
                    <p class="description">{{ .Page.Params.clientsItemDescription5 }}</p>
                </div>
            </div>
            <div class="button-wrapper">
                <a href="#" class="button secondary">Learn more</a>
            </div>
        </div>
    </div>
</section>