<section class="video-section section-mt">
    <h2 class="h2">How it works</h2>
    <div class="video-section__wrapper">
        <div class="video-wrapper">
            <iframe src="https://www.youtube.com/embed/MMcrvgNXnCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video-section__text-wrap">
            <h2 class="h2 desktop">{{ .Page.Params.videoSectionTitle }}</h2>
            <p class="description">
                <b>{{ .Page.Params.videoSectionDescriptionBold }}</b>
            </p>
            <p class="description">{{ .Page.Params.videoSectionDescription }}</p>
        </div>
    </div>
</section>