<section class="video-section section-mt">
    <h2 class="h2">How it works</h2>
    <div class="video-section__wrapper">
<!--        <div class="video-wrapper">-->
<!--            <iframe src="https://www.youtube.com/embed/MMcrvgNXnCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--        </div>-->
        <div class="video-section__text-wrap">
            <h2 class="h2 desktop">{{ .Page.Params.videoSectionTitle }}</h2>
            <p class="description">
                {{ .Page.Params.videoSectionDescriptionBold }}
            </p>
            <ul class="list">
                <li class="list__item"><strong>Businesses</strong> post their IT projects or tasks (e.g., MVP planning, software development, app testing, app support), select and hire the perfect match for their IT endeavors from a range of pre-built IT teams, collaborate with the teams on the projects until their successful completion.</li>
                <li class="list__item"><strong>IT talents</strong> form teams, find and apply for new opportunities, and work on the projects won collaborating directly with clients.</li>
                <li class="list__item"><strong>Leaders</strong> build and manage powerful one-project/long-term IT teams.</li>
            </ul>
        </div>
    </div>
</section>