@mixin special-mt-section() {
    margin-top: $block-margin-bottom;
    @include media-breakpoint-down(md) {
        margin-top: $block-margin-bottom-sm;
    }
}

@mixin special-mb-section() {
    margin-bottom: $block-margin-bottom;
    @include media-breakpoint-down(md) {
        margin-bottom: $block-margin-bottom-sm;
    }
}

@mixin special-my-list() {
    margin: rem(24px 0);
    @include media-breakpoint-up(lg) {
        margin: rem(32px 0);
    }
}

@mixin special-mb-item() {
    margin-bottom: rem(24px);
    @include media-breakpoint-up(lg) {
        margin-bottom: rem(32px);
    }
}

@mixin special-mb-list-item() {
    &:not(:last-of-type) {
        @include special-mb-item();
    }
}

@mixin special-mt-h1() {
    margin-top: rem(24px);
    @include media-breakpoint-up(lg) {
        margin-top: rem(40px);
    }
}

@mixin special-mb-h1() {
    margin-bottom: rem(24px);
    @include media-breakpoint-up(lg) {
        margin-bottom: rem(40px);
    }
}

@mixin special-mt-h2() {
    margin-top: rem(24px);
    @include media-breakpoint-up(lg) {
        margin-top: rem(32px);
    }
}

@mixin special-mb-h2() {
    margin-bottom: rem(24px);
    @include media-breakpoint-up(lg) {
        margin-bottom: rem(32px);
    }
}

@mixin special-mt-h3() {
    margin-top: rem(12px);
    @include media-breakpoint-up(lg) {
        margin-top: rem(16px);
    }
}

@mixin special-mb-h3() {
    margin-bottom: rem(12px);
    @include media-breakpoint-up(lg) {
        margin-bottom: rem(16px);
    }
}

//Typography
%small-text {
    font-size: rem(16px);
    font-weight: $font-weight-medium;
    line-height: 1.5;
}

%panel-text {
    font-size: 16px;
    font-weight: $font-weight-medium;
    line-height: 1.5;
}

%label-uppercase {
    text-transform: uppercase;
}

@mixin special-link-green-hover() {
    font-weight: $font-weight-semi-bold;
    text-decoration: underline;
    @include hover-focus() {
        text-decoration: none;
    }
}

@mixin title-h1() {
    font-weight: $font-weight-semi-bold;
    font-size: rem(28px);
    line-height: normal;
    @include media-breakpoint-up(lg) {
        font-size: rem(36px);
    }
}

@mixin title-h2() {
    font-weight: $font-weight-semi-bold;
    font-size: rem(22px);
    line-height: 1.27;
    @include media-breakpoint-up(lg) {
        font-size: rem(24px);
        line-height: 1.33;
    }
}

@mixin title-h3() {
    font-weight: $font-weight-semi-bold;
    font-size: rem(18px);
    line-height: normal;
    @include media-breakpoint-up(lg) {
        font-size: rem(20px);
    }
}

//for text block
@mixin special-text-h1 {
    font-family: inherit !important;
    font-weight: $font-weight-semi-bold !important;
    color: inherit !important;
    font-size: rem(28px) !important;
    line-height: normal !important;

    @include media-breakpoint-up(lg) {
        font-size: rem(36px) !important;
    }
}

@mixin special-text-h2 {
    font-family: inherit !important;
    font-weight: $font-weight-semi-bold !important;
    color: inherit !important;
    font-size: rem(22px) !important;
    line-height: 1.27 !important;
    @include media-breakpoint-up(lg) {
        font-size: rem(24px) !important;
        line-height: 1.33 !important;
    }
}

@mixin special-text-h3 {
    font-family: inherit !important;
    font-weight: $font-weight-semi-bold !important;
    color: inherit !important;
    font-size: rem(18px) !important;
    line-height: normal !important;
    @include media-breakpoint-up(lg) {
        font-size: rem(20px) !important;
    }
}

@mixin special-wysiwyg() {
    font-family: inherit;
    font-weight: $font-weight-medium;
    font-size: rem(16px);
    line-height: 1.5;
    color: inherit;
}

@mixin special-text-paragraph-font() {
    font-family: inherit !important;
    font-weight: $font-weight-medium !important;
    font-size: rem(16px) !important;
    line-height: 1.5 !important;
    color: inherit !important;
    background-color: inherit !important;
}

@mixin special-text-paragraph() {
    @include special-text-paragraph-font;
    margin-bottom: rem(8px) !important;
}
