$icon-font-family: "iconfont" !default;
$icon-font-path: "../fonts" !default;

$icon-code: "\e903";
$icon-art: "\e902";
$icon-bug: "\e901";
$icon-chart: "\e904";
$icon-insta: "\e90c";
$icon-linked-in: "\e90d";
$icon-facebook: "\e90e";
$icon-user: "\e90f";
$icon-search: "\e910";
$icon-ham: "\e911";
$icon-close: "\e900";
