$icon-font-family: "iconfont" !default;
$icon-font-path: "../fonts" !default;

$icon-quit: "\e900";
$icon-close-btn: "\e901";
$icon-arrow: "\e902";
$icon-doc: "\e903";
$icon-tooltip: "\e904";
$icon-input-file: "\e905";
$icon-alert: "\e906";
$icon-trash: "\e907";
