$icon-font-family: "iconfont" !default;
$icon-font-path: "../fonts" !default;

$icon-code: "\e908";
$icon-art: "\e909";
$icon-bug: "\e90a";
$icon-chart: "\e90b";
$icon-insta: "\e90c";
$icon-linked-in: "\e90d";
$icon-facebook: "\e90e";
$icon-user: "\e90f";
$icon-search: "\e910";
$icon-ham: "\e911";
