<section class="talents-clients-section _mb-80">
    <div class="value-section">
        <div class="talents-clients-section__item">
        <h2 class="h2">{{ .Page.Params.valuesTitle }}</h2>
        <div class="talents-clients-section__list">
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <img src="{{ .Page.Params.valuesItemItemImg1 | relURL }}" alt="">
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.valuesItemTitle1 }}</h3>
                    <p class="description">{{ .Page.Params.valuesItemDescription1 | safeHTML }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <img src="{{ .Page.Params.valuesItemItemImg2 | relURL }}" alt="">
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.valuesItemTitle2 }}</h3>
                    <p class="description">{{ .Page.Params.valuesItemDescription2 | safeHTML }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <img src="{{ .Page.Params.valuesItemItemImg3 | relURL }}" alt="">
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.valuesItemTitle3 }}</h3>
                    <p class="description">{{ .Page.Params.valuesItemDescription3 | safeHTML }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <img src="{{ .Page.Params.valuesItemItemImg4 | relURL }}" alt="">
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.valuesItemTitle4 }}</h3>
                    <p class="description">{{ .Page.Params.valuesItemDescription4 | safeHTML }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <img src="{{ .Page.Params.valuesItemItemImg5 | relURL }}" alt="">
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.valuesItemTitle5 }}</h3>
                    <p class="description">{{ .Page.Params.valuesItemDescription5 | safeHTML }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <img src="{{ .Page.Params.valuesItemItemImg6 | relURL }}" alt="">
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.valuesItemTitle6 }}</h3>
                    <p class="description">{{ .Page.Params.valuesItemDescription6 | safeHTML }}</p>
                </div>
            </div>
            <div class="talents-clients-section__list-item">
                <div class="talents-clients-section__icon-wrap">
                    <img src="{{ .Page.Params.valuesItemItemImg7 | relURL }}" alt="">
                </div>
                <div class="talents-clients-section__text-wrap">
                    <h3 class="h3">{{ .Page.Params.valuesItemTitle7 }}</h3>
                    <p class="description">{{ .Page.Params.valuesItemDescription7 | safeHTML }}</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>