<section class="video-section section-mt">
    <h2 class="h2" style="display: block!important;">{{ .Page.Params.whatIsTitle }}</h2>
    <div class="video-section__wrapper">
<!--        <div class="video-wrapper">-->
<!--            <iframe src="https://www.youtube.com/embed/MMcrvgNXnCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<!--        </div>-->
        <div class="video-section__text-wrap">
            <p class="description">
                {{ .Page.Params.whatIsDescription }}
            </p>
        </div>
    </div>
</section>