.button-wrapper {
  width: 100%;
  margin-top: rem(24px);
  text-align: center;
}
.button {
  display: inline-block;
  font-size: rem(20px);
  line-height: 1;
  color: $white;
  border-radius: 20px;
  background-color: $pink;
  border: 1px solid $pink;
  height: rem(40px);
  line-height: rem(40px);
  text-align: center;
  width: 100%;
  font-weight: $font-weight-bold;
  max-width: rem(350px);
  &.secondary {
    font-size: rem(16px);
    background-color: $white;
    color: $pink;
  }
}