.find-team {
  margin-top: rem(78px);
  padding-bottom: rem(56px);
  .icon-search {
    margin-right: rem(4px);
    &:before {
      font-size: rem(40px);
      vertical-align: bottom;
      @include media-breakpoint-up(xl) {
        font-size: rem(48px);
        vertical-align: middle;
        margin-top: rem(-5px);
      }
    }
  }
  .h1 {
    @include media-breakpoint-up(xl) {
      font-size: rem(36px);
      line-height: rem(44px);
      margin-bottom: rem(24px);
    }
  }
  .description {
    font-size: rem(14px);
    line-height: rem(20px);
    font-weight: $font-weight-medium;
    text-align: center;
    margin-top: rem(10px);
    @include media-breakpoint-up(xl) {
      text-align: left;
      font-size: rem(16px);
      line-height: rem(24px);
    }
  }
  .button {
    border-color: $white;
    @include media-breakpoint-up(xl) {
      max-width: rem(268px);
    }
  }
  .button-wrapper {
    @include media-breakpoint-up(xl) {
      text-align: left;
      margin-top: rem(28px);
    }
  }
}