.header {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: rem(48px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("/images/top-background.jpg");
  background-repeat: repeat;
  background-position: center center;
  padding: $mobile-section-padding;
  z-index: $zindex-modal;
  max-width: rem(1200px);
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url("/images/top-background.jpg");
    background-repeat: repeat;
    background-position: center center;
    z-index: -1;
    margin: 0 -10000px;
  }
  @include media-breakpoint-up(lg) {
    align-items: center;
    height: auto;
    padding: rem(36px 16px 21px);
  }
  &__right-menu {
    display: flex;
    margin-right: rem(-6px);
    @include media-breakpoint-up(lg) {
      order: 2;
    }
  }
  &__right-menu-item {
    padding: rem(0 6px);
    &:nth-child(2),
    &:nth-child(3) {
      display: none;
    }
    span {
      display: none;
    }
  }
  &__logo {
    margin-left: rem(55px);
    @include media-breakpoint-up(lg) {
      margin-left: 0;
    }
  }
  &__sandwich {
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}