.how-coteams {
  @include section-mt;
  padding: rem(0 16px);
  &__wrapper {
    margin-top: rem(24px);
  }
  &__item {
    text-align: center;
    padding: rem(16px 16px 24px);
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: $white;
    &:not(:last-child) {
      margin-bottom: rem(16px);
    }
    .h3 {
      font-size: rem(24px);
      line-height: rem(30px);
      margin: rem(8px 0 10px 0);
    }
    .description {
      margin-bottom: 0;
      font-size: rem(14px);
      line-height: rem(20px);
      text-align: left;
      font-weight: $font-weight-medium;
    }
    img {
      max-width: rem(80px);
    }
  }
}