.how-coteams {
  @include section-mt;
  padding: rem(0 16px);
  &__wrapper {
    margin-top: rem(24px);
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      margin: rem(40px -20px 0 -20px);
    }
  }
  &__item {
    text-align: center;
    @include media-breakpoint-up(lg) {
      flex: 50% 0 0;
      max-width: 50%;
      min-width: 50%;
      padding: rem(24px 20px);
      padding-top: 0;
    }
    &:not(:last-child) {
      margin-bottom: rem(16px);
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
    .h3 {
      font-size: rem(24px);
      line-height: rem(30px);
      margin: rem(8px 0 10px 0);
      @include media-breakpoint-up(xl) {
        line-height: rem(34px);
        margin-top: 0;
        margin-bottom: rem(8px);
      }
    }
    .description {
      margin-bottom: 0;
      font-size: rem(14px);
      line-height: rem(20px);
      text-align: left;
      @include media-breakpoint-up(lg) {
        max-height: rem(140px);
        min-height: rem(140px);
        overflow: hidden;
      }
    }
    img {
      max-width: rem(80px);
      @include media-breakpoint-up(lg) {
        max-width: rem(120px);
        min-width: rem(120px);
        margin-right: rem(20px);
        margin-top: rem(20px);
      }
    }
  }
  &__item-wrapper {
    padding: rem(20px 24px 28px);
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
    background-color: $white;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }
}