.navigation {
  max-height: 0;
  -webkit-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  -moz-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  -ms-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  -o-transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: $white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.22);
  overflow: hidden;
  @include media-breakpoint-up(lg) {
    position: static;
    max-height: none;
    background: none;
    box-shadow: none;
    order: 1;
    margin: rem(0 -10px);
    border-radius: 0;
    margin-left: rem(38px);
  }
  &._open {
    opacity: 1;
    z-index: $zindex-modal;
    max-height: 1000px;
    -webkit-transition: max-height .5s ease-in-out;
    -moz-transition: max-height .5s ease-in-out;
    -ms-transition: max-height .5s ease-in-out;
    -o-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
  }
  &__wrapper {
    padding: rem(72px 0 48px 0);
    @include media-breakpoint-up(lg) {
      padding: 0;
    }
  }
  &__list {
    text-align: center;
    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }
  &__item {
    @include media-breakpoint-up(lg) {
      padding: rem(0 10px);
    }
    &:not(:last-child) {
      margin-bottom: rem(28px);
      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
    &._active {
      border-radius: 11px;
      background-color: $white;
      .navigation__link {
        color: $green-dark;
      }
    }
    &:hover,
    &:active {
      @include media-breakpoint-up(xl) {
        background-color: #669a3d;
        border-radius: 11px;
        .navigation__link {
          color: $white;
        }
      }
    }
    &._desktop-none {
      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
    .icon-search {
      vertical-align: middle;
      &:before {
        color: $gray-900;
        font-size: rem(24px);
      }
    }
  }
  &__link {
    font-size: rem(15px);
    line-height: rem(20px);
    font-weight: $font-weight-semi-bold;
    color: $gray-900;
    font-family: $font-family-base;
    @include media-breakpoint-up(lg) {
      color: $white;
    }
  }
  &__search-mobile {
    text-align: center;
    input {
      padding: rem(9px 12px 9px 16px);
      border-radius: 10px;
      border: solid 1px $gray-900;
    }
  }
  .icon-close {
    cursor: pointer;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}