.policy {
  text-align: left;
  margin-top: rem(64px);
  margin-bottom: rem(120px);
  @include media-breakpoint-down(md) {
    padding: rem(0 16px);
    margin-top: rem(40px);
    margin-bottom: rem(80px);
  }
  .h1 {
    font-size: rem(48px);
    font-family: $font-family-second;
    font-weight: $font-weight-semi-bold;
    color: $gray-900;
    text-align: left;
    margin-bottom: rem(32px);
    @include media-breakpoint-down(md) {
      font-size: rem(32px);
      line-height: rem(40px);
      margin-bottom: rem(21px);
    }
  }
  h4 {
    font-size: rem(36px);
    font-family: $font-family-second;
    font-weight: $font-weight-semi-bold;
    line-height: 1.22;
    color: $gray-900;
    text-align: left;
    margin-bottom: rem(32px);
    @include media-breakpoint-down(md) {
      font-size: rem(20px);
      line-height: rem(28px);
      margin-bottom: rem(16px);
    }
  }
  h5 {
    font-size: rem(30px);
    font-family: $font-family-second;
    font-weight: $font-weight-semi-bold;
    line-height: 1.33;
    color: $gray-900;
    text-align: left;
    margin-bottom: rem(20px);
    @include media-breakpoint-down(md) {
      font-size: rem(16px);
      line-height: rem(24px);
      font-family: $font-family-third;
      margin-bottom: rem(12px);
    }
  }
  a {
    color: #00ACEA;
    &:hover {
      text-decoration: underline;
    }
  }
  p {
    font-size: rem(16px);
    font-weight: $font-weight-normal;
    line-height: 1.5;
    color: $gray-900;
    margin-bottom: rem(24px);
  }
  li {
    position: relative;
    color: $gray-900;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $font-weight-normal;
    padding-left: rem(18px);
    &:before {
      content: '';
      background-color: $gray-900;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      left: 0;
      top: rem(8px);
      position: absolute;
    }
    p {
      margin-bottom: rem(12px);
    }
  }
}
.policy-section {
  margin-bottom: rem(88px);
  @include media-breakpoint-down(md) {
    margin-bottom: rem(48px);
  }
  &__title-number {
    font-size: rem(20px);
    font-weight: $font-weight-semi-bold;
    color: $white;
    display: inline-block;
    width: rem(32px);
    height: rem(32px);
    text-align: center;
    margin-right: rem(12px);
    border-radius: 50%;
    line-height: rem(32px);
    background-color: $gray-900;
    vertical-align: top;
    margin-top: rem(6px);
    @include media-breakpoint-down(md) {
      margin-top: 0;
    }
  }
  &__subtitle-number {
    font-size: rem(20px);
    font-weight: $font-weight-semi-bold;
    color: $gray-900;
    display: inline-block;
    height: rem(32px);
    text-align: center;
    margin-right: rem(12px);
    border-radius: 16px;
    line-height: rem(32px);
    background-color: $white;
    border: solid 1px $gray-900;
    vertical-align: top;
    margin-top: rem(2px);
    padding: rem(0 16px);
    @include media-breakpoint-down(md) {
      margin-top: rem(-4px);
    }
  }
  &__definition-item {
    margin-bottom: rem(48px);
  }
  &__definition-title {
    .description {
      margin-bottom: rem(48px);
      @include media-breakpoint-down(md) {
        margin-bottom: rem(32px);
      }
    }
  }
  strong {
    font-weight: $font-weight-semi-bold;
  }
}