.sidebar {
  max-width: rem(310px);
  min-width: rem(310px);
  margin-right: rem(103px);
  align-self: baseline;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
  &__item {
    padding: rem(16px 20px);
    &:not(:last-child) {
      border-bottom: 1px solid rgba(34,34,34,0.25);
    }
  }
  &__link {
    font-size: rem(18px);
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: normal;
    color: $gray-900;
  }
  &__sublist {
    display: none;
    padding: rem(32px 0);
    margin-bottom: rem(-16px);
    &._open {
      display: block;
    }
  }
  &__sublist-item {
    padding: rem(0 16px);
    &:not(:last-child) {
      margin-bottom: rem(24px);
    }
  }
  &__sublist-link {
    font-size: rem(16px);
    font-weight: 600;
    line-height: 1.38;
    color: $gray-900;
  }
  &__thirdlist {
    display: none;
    padding: rem(26px 16px);
    margin-bottom: rem(-26px);
    &._open {
      display: block;
    }
  }
  &__thirdlist-item {
    padding: rem(0 10px);
    display: inline-block;
    &._active {
      border-radius: 13.5px;
      background-color: rgba(169, 169, 169, .19);
      .sidebar__thirdlist-link {
        color: $gray-900;
        font-weight: $font-weight-semi-bold;
      }
    }
    &:not(:last-child) {
      margin-bottom: rem(18px);
    }
  }
  &__thirdlist-link {
    font-size: rem(16px);
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: $gray-900;
  }
}