.content-wrapper {
  display: flex;
  margin: rem(64px 0 120px);
  @include media-breakpoint-down(sm) {
    margin-top: rem(40px);
    margin-bottom: rem(80px);
    padding: rem(0 16px);
  }
}
.user-content {
  width: 100%;
  padding-right: rem(24px);
  @include media-breakpoint-down(sm) {
    padding-right: 0;
  }
  p {
    @extend .description
  }
  ul {
    margin-bottom: rem(32px);
    @include media-breakpoint-up(xl) {
      margin-bottom: rem(40px);
    }
  }
  li {
    position: relative;
    color: $gray-900;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $font-weight-normal;
    padding-left: rem(18px);
    &:before {
      content: '';
      background-color: $gray-900;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      left: 0;
      top: rem(8px);
      position: absolute;
    }
    p {
      margin-bottom: rem(12px);
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: rem(48px);
  }
  &__section-title {
    font-size: rem(16px);
    line-height: 1.5;
    font-weight: $font-weight-semi-bold;
    color: $gray-900;
    display: block;
    margin-bottom: rem(-7px);
    position: absolute;
    margin-top: -30px;
    margin-left: rem(16px);
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  h1 {
    font-size: rem(48px);
    font-weight: $font-weight-semi-bold;
    font-family: $font-family-second;
    line-height: 1.42;
    color: $gray-900;
    margin-bottom: rem(32px);
    margin-top: 0;
    @include media-breakpoint-down(md) {
      font-size: rem(32px);
      line-height: rem(40px);
      margin-bottom: rem(25px);
    }
  }
  p {
    margin-bottom: rem(40px);
    @include media-breakpoint-down(md) {
      font-size: rem(14px);
      line-height: rem(20px);
      margin-bottom: rem(32px);
      font-weight: 500;
    }
  }
  table {
    max-width: rem(400px);
    float: right;
    @include media-breakpoint-down(md) {
      max-width: none;
      width: 100%;
      float: none;
    }
    tr {
      display: flex;
      margin-bottom: rem(6px);
      background-color: #00acea;
      border-radius: 10px;
      &:first-child {
        td {
          font-size: rem(14px);
          font-weight: $font-weight-bold;
          border-color: $white !important;
          width: 100%;
        }
      }
      td {
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child {
          font-weight: $font-weight-semi-bold;
          border-right: 2px solid rgba(34,34,34,.1);
          min-width: rem(100px);
          max-width: rem(100px);
        }
      }
      &:not(:first-child) {
        -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.09);
        background-color: $white;
        td {
          color: $gray-900;
        }
      }
    }
    td {
      padding: rem(16px 20px);
      color: $gray-900;
      font-weight: $font-weight-normal;
      font-size: rem(16px);
      line-height: rem(24px);
    }
  }
}