.why-coteams {
  @include section-mt;
  padding: rem(0 16px);
  &__item {
    text-align: center;
    .h3 {
      font-size: rem(24px);
      line-height: rem(36px);
      margin-top: rem(10px);
      @include media-breakpoint-up(xl) {
        margin-bottom: rem(11px);
        line-height: 1.1;
        min-height: rem(66px);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .description {
      margin-top: rem(8px);
      font-size: rem(15px);
      line-height: rem(20px);
      @include media-breakpoint-up(xl) {
        font-size: rem(16px);
        line-height: rem(24px);
      }
    }
    .button {
      font-weight: $font-weight-semi-bold;
      width: rem(280px);
    }
  }
}