<footer class="footer">
	<div class="footer-wrapper">
		<section class="footer__head">
			<a href="#" class="header__logo">COTEAMS</a>
		</section>
		<section class="footer__nav">
			<section class="footer__copyright desktop">
				<ul class="footer__copyright-list">
					<span class="footer__copyright-item">© 2021 CoTeams</span>
					<a href="#" class="footer__copyright-item">Terms of Service</a>
					<a href="#" class="footer__copyright-item">Privacy</a>
				</ul>
			</section>
			<div class="footer__nav-wrapper">
				<div class="footer__nav-subtitle">
					<h5 class="footer__nav-title">{{ .Page.Params.footerNavigationTitle1 }}</h5>
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink1 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink2 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink3 }}</a>
						</li>
					</ul>
				</div>
				<div class="footer__nav-subtitle">
					<h5 class="footer__nav-title">{{ .Page.Params.footerNavigationTitle2 }}</h5>
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink4 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink5 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink6 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink7 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink8 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink9 }}</a>
						</li>
					</ul>
				</div>
				<div class="footer__nav-subtitle">
					<h5 class="footer__nav-title">{{ .Page.Params.footerNavigationTitle3 }}</h5>
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink10 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink11 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink12 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink13 }}</a>
						</li>
					</ul>
				</div>
				<div class="footer__nav-subtitle">
					<h5 class="footer__nav-title">{{ .Page.Params.footerNavigationTitle4 }}</h5>
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink14 }}</a>
						</li>
						<li class="footer__nav-item">
							<a href="#" class="footer__nav-link">{{ .Page.Params.footerNavigationLink15 }}</a>
						</li>
					</ul>
					<section class="footer__social">
						<a href="#" class="footer__social-link">
							<i class="icon-facebook"></i>
						</a>
						<a href="#" class="footer__social-link">
							<i class="icon-linked-in"></i>
						</a>
						<a href="#" class="footer__social-link">
							<i class="icon-insta"></i>
						</a>
					</section>
				</div>
			</div>
		</section>
		<section class="footer__copyright mobile">
			<ul class="footer__copyright-list">
				<span class="footer__copyright-item">© 2021 CoTeams</span>
				<a href="#" class="footer__copyright-item">Terms of Service</a>
				<a href="#" class="footer__copyright-item">Privacy</a>
			</ul>
		</section>
	</div>
</footer>