<footer class="footer">
	<div class="footer-wrapper">
		<section class="footer__head">
			<a href="#" class="header__logo">COTEAMS</a>
		</section>
		<section class="footer__nav">
			<section class="footer__copyright desktop">
				<ul class="footer__copyright-list">
					<span class="footer__copyright-item">© 2021 CoTeams</span>
					<a href="#" class="footer__copyright-item">Terms of Service</a>
					<a href="#" class="footer__copyright-item">Privacy</a>
				</ul>
			</section>
			<div class="footer__nav-wrapper">
				<div class="footer__nav-subtitle">
					<h5 class="footer__nav-title">About CoTeams</h5>
					<ul class="footer__nav-list">
						{{ range .Site.Menus.main }}
						<li class="footer__nav-item">
							<a href="{{ .URL | relURL }}" class="footer__nav-link">{{ .Name }}</a>
						</li>
						{{ end }}
					</ul>
				</div>
				<div class="footer__nav-subtitle">
					<h5 class="footer__nav-title">Contact</h5>
					<ul class="footer__nav-list">
						<li class="footer__nav-item">
							<a href="mailto:Contact@coteams.co" class="footer__nav-link">Contact Us</a>
						</li>
					</ul>
<!--					<section class="footer__social">-->
<!--						<a href="#" class="footer__social-link">-->
<!--							<i class="icon-facebook"></i>-->
<!--						</a>-->
<!--						<a href="#" class="footer__social-link">-->
<!--						<i class="icon-linked-in"></i>-->
<!--						</a>-->
<!--						<a href="#" class="footer__social-link">-->
<!--							<i class="icon-insta"></i>-->
<!--						</a>-->
<!--					</section>-->
				</div>
			</div>
		</section>
		<section class="footer__copyright mobile">
			<ul class="footer__copyright-list">
				<span class="footer__copyright-item">© 2021 CoTeams</span>
				<a href="#" class="footer__copyright-item">Terms of Service</a>
				<a href="#" class="footer__copyright-item">Privacy</a>
			</ul>
		</section>
	</div>
</footer>