<footer class="footer">
	<section class="footer__head">
		<a href="#" class="header__logo">COTEAMS</a>
	</section>
	<section class="footer__nav">
		<section class="footer__copyright desktop">
			<ul class="footer__copyright-list">
				<span class="footer__copyright-item">© 2021 CoTeams</span>
				<a href="#" class="footer__copyright-item">Terms of Service</a>
				<a href="#" class="footer__copyright-item">Privacy</a>
			</ul>
		</section>
		<div class="footer__nav-subtitle">
			<h5 class="footer__nav-title">About CoTeams</h5>
			<ul class="footer__nav-list">
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Our Story</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Careers</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">News & Press Releases</a>
				</li>
			</ul>
		</div>
		<div class="footer__nav-subtitle">
			<h5 class="footer__nav-title">Clients</h5>
			<ul class="footer__nav-list">
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Browse All Directories</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Research Methodology</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Review Service Providers</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Blog & Industry Surveys</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Business Growth Hub</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">FAQs</a>
				</li>
			</ul>
		</div>
		<div class="footer__nav-subtitle">
			<h5 class="footer__nav-title">Talents</h5>
			<ul class="footer__nav-list">
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Service Provider Guide</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Get Listed</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Sponsorship</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Marketing Opportunities</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Service Provider FAQs</a>
				</li>
			</ul>
		</div>
		<div class="footer__nav-subtitle">
			<h5 class="footer__nav-title">Contacts</h5>
			<ul class="footer__nav-list">
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Contact Us</a>
				</li>
				<li class="footer__nav-item">
					<a href="#" class="footer__nav-link">Site Feedback</a>
				</li>
			</ul>
			<section class="footer__social">
				<a href="#" class="footer__social-link">
					<i class="icon-facebook"></i>
				</a>
				<a href="#" class="footer__social-link">
					<i class="icon-linked-in"></i>
				</a>
				<a href="#" class="footer__social-link">
					<i class="icon-insta"></i>
				</a>
			</section>
		</div>
	</section>
	<section class="footer__copyright mobile">
		<ul class="footer__copyright-list">
			<span class="footer__copyright-item">© 2021 CoTeams</span>
			<a href="#" class="footer__copyright-item">Terms of Service</a>
			<a href="#" class="footer__copyright-item">Privacy</a>
		</ul>
	</section>
</footer>