<header class="header">
    <div class="header__sandwich">
        <i class="icon-ham"></i>
    </div>
    {{- partial "navigation.html" . -}}
    <a href="/" class="header__logo">COTEAMS</a>
    <div class="header__right-menu">
        <a href="/search" class="header__right-menu-item">
            <i class="icon-search"></i>
            <span class="header__right-menu-link">Search</span>
        </a>
        <a href="/help/general/general-Information-for-sign-up/" class="header__right-menu-item">
            <span class="header__right-menu-link">Help</span>
        </a>
        <a href="https://tfp.staging.coteams.co/" target="_blank" class="header__right-menu-item">
            <span class="header__right-menu-link">Sign In</span>
        </a>
        <a href="https://tfp.staging.coteams.co/register-talent" class="header__right-menu-item _background">
            <span class="header__right-menu-link">Sign Up</span>
        </a>
    </div>
</header>