<header class="header">
    <div class="header__sandwich">
        <i class="icon-sandwich">&reg;</i>
    </div>
    {{- partial "navigation.html" . -}}
    <a href="#" class="header__logo">COTEAMS</a>
    <div class="header__right-menu">
        <li class="header__right-menu-item">
            <i class="icon-search">&reg;</i>
            <a href="" class="header__right-menu-link">Search</a>
        </li>
        <li class="header__right-menu-item">
            <a href="" class="header__right-menu-link">Help</a>
        </li>
        <li class="header__right-menu-item">
            <a href="" class="header__right-menu-link">Sign In</a>
        </li>
        <li class="header__right-menu-item">
            <i class="icon-sign-up">&reg;</i>
            <a href="" class="header__right-menu-link">Sign Up</a>
        </li>
    </div>
</header>