<nav class="navigation">
    <div class="navigation__wrapper">
        <ul class="navigation__list">
            {{ $currentPage := . }}
            <li class="navigation__item _desktop-none">
                <i class="icon-search"></i>
                <a href="/search" class="navigation__link">Search</a>
            </li>
            {{ range .Site.Menus.main }}
            <li class="navigation__item {{ if (eq $currentPage.URL .URL) }} _active{{ end }}">
                <a href="{{ .URL | relURL }}" class="navigation__link">{{ .Name }}</a>
            </li>
            {{ end }}
            <li class="navigation__item _desktop-none">
                <a href="#" class="navigation__link">Help</a>
            </li>
            <li class="navigation__item _desktop-none">
                <a href="#" class="navigation__link">Sign In</a>
            </li>
        </ul>
        <i class="icon-close"></i>
    </div>
</nav>