<nav class="navigation">
    <div class="navigation__wrapper">
        <ul class="navigation__list">

            {{ range $.Site.Content.menu.docs }}
            <li class="navigation__item">
                <a href="" class="navigation__link">{{ .title }}</a>
            </li>
            {{ end }}

            <li class="navigation__item">
                <a href="" class="navigation__link">Why Teams</a>
            </li>
            <li class="navigation__item">
                <a href="" class="navigation__link">For Talents</a>
            </li>
            <li class="navigation__item">
                <a href="" class="navigation__link">For Team Managers</a>
            </li>
            <li class="navigation__item">
                <a href="" class="navigation__link">For Customers</a>
            </li>
            <li class="navigation__item">
                <a href="" class="navigation__link">About</a>
            </li>
            <li class="navigation__item">
                <a href="" class="navigation__link">Help</a>
            </li>
            <li class="navigation__item">
                <a href="" class="navigation__link">Sign In</a>
            </li>
        </ul>
        <i class="icon-close"></i>
    </div>
</nav>