<section class="sidebar">
    <ul class="sidebar__list">
        <li class="sidebar__item">
                <a href="" class="sidebar__link">For Talents</a>
                <ul class="sidebar__sublist">
                    <li class="sidebar__sublist-item">
                        <a href="" class="sidebar__sublist-link">Talent Profile Details</a>
                        <ul class="sidebar__thirdlist">
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Profile Summary</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">About Me</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Availability</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Languages</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Contacts</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Skills</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Employment History</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Education</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Certificates</a>
                            </li>
                            <li class="sidebar__thirdlist-item">
                                <a href="" class="sidebar__thirdlist-link">Trainings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar__sublist-item">
                        <a href="" class="sidebar__sublist-link">Profile Visibility</a>
                    </li>
                    <li class="sidebar__sublist-item">
                        <a href="" class="sidebar__sublist-link">Participate in Opportunities</a>
                    </li>
                    <li class="sidebar__sublist-item">
                        <a href="" class="sidebar__sublist-link">Join to the Team</a>
                    </li>
                </ul>
            </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">For Clients</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">For Teams</a>
        </li>
        <li class="sidebar__item">
            <a href="" class="sidebar__link">For All Roles</a>
        </li>
    </ul>
</section>